:root {
    --primary-color: #8069ff; /* Pink color */
    --primary-color-light: #9b85ff; /* Lighter pink for hover */
    --text-color: #333; /* Dark text color */
    --background-color: #ffffff; /* White background */
    --border-color: #ccc; /* Border color */
    --box-shadow-color: #868686;
}

/* Overall layout styling */
#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#contents {
    margin-top: 20px;
}
