<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forside</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="internet.css">
    <script src="../static/js/navbar.js"></script>
</head>
<body>
    <div id="mainContainer">
        <div id="navbar"></div>
        <div id="contents">
            <form action="#" method="post">
                <label for="address">Adresse:</label>
                <div id="addressFieldContainer">
                    <input type="text" name="address" id="addressField" placeholder="Skriv din adresse her">
                    <button type="submit" id="searchInternet">&#x1F50D;</button>
                </div>
            </form>
            <div class="outputContents">
                <div class="broadbandCards">
                    <div class="section1">
                        <li>logo</li>
                    </div>
                    <div class="section2">
                        <li>Type: Fibernet</li>
                        <li>Rabat pris: 199,-</li>
                        <li>Fast pris: 299,-</li>
                    </div>
                    <div class="section3">
                        <button>Bestil/se mere</button>
                        <li>Mindste Pris: 1294</li>
                        <img src="" alt="">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>
