<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forside</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="internet.css">
    <script src="../static/js/navbar.js"></script>
    <script type="module" defer src="../static/js/internetRouter.js"></script>
    <script type="module" src="../static/js/internetGenerateCard.js"></script>
</head>
<body>
    <div id="mainContainer">
        <div id="navbar"></div>
        <div id="contents">
            <div id="addressFormContainer">
                <form id="addressForm">
                    <label for="address" id="addressFieldLabel">Adresse:</label>
                    <div id="addressFieldContainer">
                        <input type="text" name="address" id="addressField" placeholder="Skriv din adresse her" required>
                        <button type="submit" id="searchInternet">&#x1F50D;</button>
                    </div>
                </form>
            </div>
            <div class="outputContents" id="outputContents">
                <div class="broadbandCards">
                    <!-- Section 1: Logo -->
                    <div class="section1">
                        <img src="../static/img/teliaLogo.png" alt="Company logo">
                    </div>
                
                    <!-- Section 2: Subscription Info -->
                    <div class="section2">
                        <ul>
                            <li>Type: Fibernet</li>
                            <li>Rabat pris: 199,-</li>
                            <li>Fast pris: 299,-</li>
                        </ul>
                    </div>
                
                    <!-- Section 3: Speed Info -->
                    <div class="section3">
                        <ul>
                            <li>Speed: 100 Mbps</li>
                        </ul>
                    </div>
                
                    <!-- Section 4: Order Button and Least Price -->
                    <div class="section4">
                        <button>Bestil/se mere</button>
                        <ul>
                            <li>Mindste Pris: 1294</li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>
